*{
    margin: 0;
    border: 0;
    padding: 0;
}
 body{
    font-family:Arial, Helvetica, sans-serif;
    
 }
  /*==menu==*/
 #menu {
    background-color: #333333;
    width: 500;
 } 
 #menu img{
    vertical-align: bottom;
    padding: 10px;
 }
 #menu ul{
     list-style-type:  none;
     background:#333333 ;
     text-align: center;
 }
 #menu ul li {
    color: #f1f1f1;      
    display: inline-table;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: relative;
 }
 #menu ul li a{
     color:#f1f1f1;
     text-decoration: none ;
     display: block;
     
 }
#menu ul li a:hover{
    color: #00aced;
}
#menu ul li >.sub-menu
{
    display: none;
    position: absolute; 
    cursor: pointer;
    text-align: justify;
}

#menu ul li:hover .sub-menu{
    display: block;
    cursor: pointer;
}

